@import "../../../client/stylesheets/bootstrap/bootstrap-flex";
@import "../../../node_modules/react-select/scss/default";

.navbar { margin-bottom: 1em; }

h1 { margin-bottom: 1.5rem; }

.card-message { border-bottom: 1px solid $card-border-color; }

.card .pager { margin: 1rem; }

.container.prestitial {
  padding: 4em;
  .button { text-align: center; }
}

.pull-right {
  margin-left: 10px;
}

.modal-content .list-group {
  .list-group-item:first-child {
    border-top-width: 0
  }
  .list-group-item:last-child {
    border-bottom-width: 0
  }
}

$i: 0;
@while $i < 10 {
  .list-group-item-level-#{$i} { padding-left: 1.25rem * ($i + 1); }
  .select-option-level-#{$i} { padding-left: .75rem * $i; }
  $i: $i + 1;
}
