@import "../../../client/stylesheets/bootstrap/bootstrap-flex";

.navbar { margin-bottom: 1em; }

h1 { margin-bottom: 1.5rem; }

.card-message { border-bottom: 1px solid $card-border-color; }

.card .pager { margin: 1rem; }

.container.prestitial {
  padding: 4em;
  .button { text-align: center; }
}

.pull-right {
  margin-right: 10px;
}

.modal-content .list-group {
  .list-group-item:first-child {
    border-top-width: 0
  }
  .list-group-item:last-child {
    border-bottom-width: 0
  }
}
