@import "../../../client/stylesheets/bootstrap/bootstrap-flex";

.navbar { margin-bottom: 1em; }

h1 { margin-bottom: 1.5rem; }

.card-message { border-bottom: 1px solid $card-border-color; }

.container.prestitial {
  padding: 4em;
  .button { text-align: center; }
}

.pull-right {
  margin-right: 10px;
}
