@import "../../../client/stylesheets/bootstrap/bootstrap-flex";
@import "../../../node_modules/react-select/scss/default";

h2 { color: #555 }

.navbar { margin-bottom: 1rem; }

.card-block.haiku-lines .card-text {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.card-block.haiku-actions {
  border-top: 1px solid $gray-lighter;
}

blockquote.blockquote.in-response-to {
  margin-bottom: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #777;
  font-size: 1rem;

  p { margin-bottom: 0; }
}

h2.user-title {
  margin-bottom: 1.5rem;
}
