doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title || key
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  body
    div(id="app")

    if initialState
      script(type="text/javascript").
        initialState = !{JSON.stringify(initialState)}

    script(src="/bundle/#{key}.js")
