@import "../../../node_modules/bootstrap/scss/bootstrap-flex";
@import "../../../node_modules/react-select/scss/default";
@import "../../../client/css/base";
@import "../../../client/css/_markdown";

.navbar { margin-bottom: 1rem; }

.note-card {
  @include markdown-container();

  .note-details {
    color: $text-muted;
    border-top: 1px solid $gray-lighter;

    b {
      color: $gray-dark;
    }
  }
}
