@import "../../../node_modules/bootstrap/scss/bootstrap-flex";
@import "../../../node_modules/react-select/scss/default";
@import "../../../client/css/base";
@import "../../../client/css/_markdown";

.navbar { margin-bottom: 1rem; }

.markdown-container {
  @include markdown-container();
}

.alert {
  i {
    margin-right: ($spacer-x * .5);
  }
}

.dog-ear-details {
  color: $text-muted;
  border-top: 1px solid $gray-lighter;

  b {
    color: $gray-dark;
  }

  i {
    margin-right: ($spacer-x * .5);
  }

  &.dog-ear-card-block-clickable:hover {
    cursor: pointer;
    background-color: $gray-lightest;
  }
}

.book-card:hover {
  cursor: pointer;
  background-color: $gray-lightest;
}
