@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../client/css/base";

.card {
  margin-bottom: 1rem;
}

.card-app-link {
  @extend .card;

  &:hover {
    cursor: pointer;
    background-color: $gray-lightest;
  }
}
