@import "../../vendor/bootstrap/stylesheets/bootstrap-flex";

.navbar { margin-bottom: 1em; }

.card-message-enter {
  opacity: 0.01;
}

.card-message-enter.message-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.card-message-leave {
  opacity: 1;
}

.card-message-leave.message-leave-active {
  opacity: 0.01;
  transition: opacity 10ms ease-in;
}
